body {
    background-color: #0e0e0e;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.visual-studio-code {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.topLink {
    color: gray;
    cursor: pointer;
    padding-left: 5px;
}

.navigation-bar {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 400px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-one {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.image-and-title {
    display: flex;
    column-gap: 8px;
}

.topLink {
    color: rgb(155, 163, 180);
    cursor: pointer;
    font-weight: 500;
    padding: 0px 12px 0px 12px;
}

.input-field {
    border: 1px solid white;
    background-color: #0e0e0e;
    padding: 8px 16px;
    border-radius: 4px;
}

.download-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #0078d4;
    border: none;
}

.version-paragraph {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: gray; 
    display: flex; 
    justify-content: center; 
    font-weight: 400;
}

.version-paragraph > a {
    color: #4daafc;
}

.image-description {
    display: flex; 
    justify-content: space-between;
    column-gap: 54px;
}

.h1, .h2, .h3 {
    color: white;
    font-size: 54px;
    font-weight: 600;
    padding: 0px;
}

.download-windows-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 16px 24px;
    border-radius: 4px;
    background-color: #0078d4;
    border: none;
}

.code-in-any-language {
    /* border: 1px solid green; */
    color: white;
    display: flex;
    column-gap: 164px;
}

.code-in-any-language-heading {
    font-size: 30px;
    font-weight: 600;
}

.code-in-any-language-description {
    font-size: 16px;
    font-weight: 500;
    color: #9ba3b4;
    line-height: 160%;
}

.code-in-any-language-details {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.code-in-any-language-description > p {
    margin: 0px;
}

.languages {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: #9ba3b4;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 0px 2px 0px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center; 
    column-gap: 10px; 
}

.icon {
    width: 40px;
}

.code-with-rich-features {
    /* border: 1px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.features-row-one, .features-row-two {
    display: flex; 
    column-gap: 16px;
}

.feature {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    border-radius: 1px solid rgba(255, 255, 255, 0.07);
    align-items: start;
    width: 268px;
}

.feature > img {
    height: 48px;
    width: 48px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.07);;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature > h3 {
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 160%;
    font-size: 16px;
}

.feature > p {
    margin: 0;
    padding-top: 8px;
    font-size: 14px;
    line-height: 24px;
}

.feature-para {
    color: #9ba3b4;
    max-width: 500px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
}

.footer-row-one {
    display: flex;
    justify-content: space-between;
}

.footer-row-one > img {
    width: 24px;
}

.twitter {
    width: 18px;
}

.twitter-github-yt {
    display: flex;
    column-gap: 12px;
}

.footer-row-two {
    color: #9ba3b4;
    font-size: 12px;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    column-gap: 16px;
    justify-content: flex-start;
    padding: 0px;
}